<div class="jumbotron bg-white py-2">
    <!--Container class needed to align starts of header and main content-->
    <div class="container">
        <div class="d-flex flex-row">
            <!-- Site icon -->
            <div class="me-2">
                <img [routerLink]="['/store']" class="img-fluid align-self-center " src="/assets/items/header/notDNS.svg">
            </div>

            <!-- Search bar-->
            <div class="flex-fill form-group has-search">
                <!-- <span class="fa fa-search form-control-feedback"></span> -->
                <input type="text" class="form-control" placeholder="Поиск">
            </div>

            <!-- Cart button -->
            <div>
                <button [routerLink]="['/admin-panel']" class="btn btn-light mx-2" role="button">
                    <i class="bi bi-gear"></i>
                </button>
            </div>

            <!-- Profile button-->
            <div>
                <div *ngIf="authorized" ngbDropdown class="d-inline-block">
                    <button class="btn btn-light" id="profileDropdown" ngbDropdownToggle>
                        <i class="bi bi-person"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="profileDropdown">
                        <button [routerLink]="['/cart']" ngbDropdownItem>Корзина</button>
                        <button ngbDropdownItem>Заказы</button>
                        <button ngbDropdownItem>Профиль</button>
                        <button (click)="handleLogoutButton()" ngbDropdownItem>Выход</button>
                    </div>
                </div>
                <button *ngIf="!authorized" [routerLink]="['/profile/login']"
                    class="btn btn-dark" role="button">
                    <i class="bi bi-person"></i>
                </button>

            </div>
        </div>
    </div>
</div>
