<div class="jumbotron bg-white py-2">
    <!--Container class needed to align starts of header and main content-->
    <div class="container">
        <div class="d-flex flex-row align-item-conter">
            <!-- Site icon -->
            <div class="me-2">
                <img [routerLink]="['/store']" class="img-fluid align-self-center " src="/assets/items/header/notDNS.svg">
            </div>

            <!-- Search bar-->
            <div class="flex-fill form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Поиск">
            </div>

            <!-- Cart button -->
            <div>
                <a href="#" class="btn btn-light mx-2" role="button">
                    <i class="bi bi-cart3"></i>
                </a>
            </div>

            <!-- Profile button-->
            <div>
                <button [routerLink]="['/profile/login']"
                    class="btn btn-dark" role="button">
                    <i class="bi bi-person"></i>
                </button>
                <button [routerLink]="['/profile/main']"
                    class="btn btn-light" role="button">
                    <i class="bi bi-person"></i>
                </button>
            </div>
        </div>
    </div>
</div>
