<div class="col d-inline-flex m-2">
    <div class="card">
        <img [routerLink]="['/store', item.id]" 
            class="card-img-top" src="/assets/items/placeholder.png">
        <div class="m-1">
            <div class="h6 my-1">{{item.title}}</div>
            <div class="card-text">One day description will be there</div>
            <div class="row">
                <div class="col">
                    <div class="text-center offset-6">{{item.cost}}$</div>
                </div>
                <div class="col-4">
                        <button (click)="buyButtonClickHandler()" role="button"
                            class="btn btn-primary btn-block">
                            <i class="bi bi-cart"></i>
                        </button>
                </div>
            </div>
    </div>
    </div>
</div>
