<div class="admin-panel-item-wrapper my-1">
    <div class="row">
        <div class="col-2 my-auto">
            <img [routerLink]="['/store']" class="img-fluid admin-panel-image-size" src="/assets/items/placeholder.png">
        </div>
        <div class="col-md-8 col-6 my-auto text-truncate">
            <h5>{{item.title}}</h5>
        </div>
        <div class="col-2">
            <div class="row justify-content-end">
                <div class="col-6">
                    <button type="button" (click)="handleEdit()"
                        class="btn btn-default btn-number">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" (click)="handleDelete()"
                        class="btn btn-default btn-number">
                        <i class="fa fa-ban"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>